body {

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    color: #fff;


}

h1 {
    position: relative;
    font-size: 3em;
    color: inherit;
    text-shadow: 3px 1px 3px black;
}

h2 {
    font-size: 2em;
    text-shadow: 3px 1px 3px black;
}



.author {
    position: fixed;
    bottom: 10px;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 3px 1px 3px;
}

.author a {
    text-decoration: none;
    opacity: .7;
    color: inherit;
    transition: opacity 0.3s;
}

.author::after {
    content: '';
    clear: both;
}

.author a:hover {
    opacity: 1;
}